.admin-top {
    height: 80px;
    width: 100%;
    text-align: -webkit-center;
}

.admin-top-header {
    height: inherit;
    width: 200px;
    font-size: 24px;
    padding-top: 24px;
    color: #aba4a4;
    font-weight: bold;
}

.admin-content-box, .user-content-box {
    min-height: 500px;
    width: 100%;
    text-align: -webkit-center;
    background-image: url('../img/foodbackg2.jpg');
}

.admin-content, .user-content {
    min-height: 550px;
    width: 1021px;
    display: flex;
    background: rgba(147, 148, 161, 0.6);
}

.ord-items-box {
    min-height: inherit;
    width: 500px;
    margin-right: 19px;
}

.backlog {
    min-height: inherit;
    width: 500px;
}

.sec-header {
    height: 60px;
    width: inherit;
    padding-top: 19px;
    font-weight: bold;
    color: #a42715;
    font-size: larger;
}

.order-card {
    min-height: 225px;
    margin-bottom: 19px;
    background-color: #f6f6f6;
    box-shadow: 0px 0px 9px 1px lightgrey;
    margin-left: 20px;
    margin-right: 17px;
}
.order-card-nm, .order-card-tel, .order-card-ad, .order-card-list, .order-card-amt, .order-work {
    min-height: 26px;
    padding-top: 16px;
    width: inherit;
    display: flex;
    padding-left: 21px;
    overflow-wrap: break-word;
}

.value {
    padding-left: 10px;
}

.value-des {
    font-weight: bold;
    color: #a42715;
}

#accept-btn, #decline-btn {
    background-color: #f6f6f6;
    cursor: pointer;
    color: black;
    border-width: thin;
    height: 27px;
    border-radius: 7px;
    margin-bottom: 12px;
    outline: none;
    font-weight: bold;
}

#decline-btn {
    margin-left: 10px;
}

#decline-btn:hover {
    background-color: #e62e22;
    color: white;
}

#accept-btn:hover {
    background-color: lightgreen;
    color: white;
}

.acct-box {
    width: 300px;
    height: 450px;
    background-color: white;
}

.recent-box {
    width: 700px;
    min-height: 500px;
    margin-top: -10px;
}

.sec-content, input {
    height: inherit;
    width: inherit;
    outline: none;
    color: #7a7272;
}

input {
    font-size: 15px;
    width: 186px;
    padding-left: 5px;
}

.form-h5 {
    text-align: initial;
    padding-left: 17px;
}

.field {
    display: flex;
    padding-left: 17px;
}

.tel-label {
    margin-right: 5px;
    margin-bottom: 30px;
    padding-top: 9px;
    color: #a42715;
    font-weight: bold;
}

.name-label {
    margin-right: 10px;
    padding-top: 9px;
    color: #a42715;
    font-weight: bold;
}

.email-label {
    margin-right: 40px;
    margin-bottom: 29px;
    padding-top: 9px;
    color: #a42715;
    font-weight: bold;
}

.data-btn {
    cursor: pointer;
    background-color: white;
    border-width: thin;
    height: 28px;
    border-radius: 7px;
    color: #7a7272;
}

.data-btn:hover {
    background-color: #e62e22;
    color: white;
}

.btn-field {
    text-align: -webkit-center;
}

.rec-order {
    height: 40px;
    width: inherit;
    display: flex;
    color: whitesmoke;
    font-weight: bold;
    font-size: 19px;
}
.rec-order-date {
    height: inherit;
    width: 200px;
    text-align: initial;
    padding-left: 15px;
}

.rec-order-items {
    height: inherit;
    width: 400px;
    text-align: -webkit-left;
}

.rec-order-amt {
    height: inherit;
    width: 100px;
}

.sign-in-content {
    height: 343px;
    width: 500px;
    margin-left: 35%;
    margin-right: 50%;
    border-color: lightgrey;
    border-style: solid;
    border-width: thin;
    margin-top: 180px;
}

.sign-in-header {
    height: 80px;
    width: inherit;
    text-align: center;
    font-size: xx-large;
    padding-top: 20px;
}
#sign-in-form {
    margin: 0 auto;
    height: 180px;
    width: 425px;
}

#btn-container {
    height: 50px;
    width: inherit;
    text-align: center;
}
#btn-container {
    height: 50px;
    width: inherit;
    text-align: center;
}

input[id=admin-email], input[id=admin-password] {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    height: 52px;
    outline: none;
    color: black;
    font-size: medium;
}

input[type=checkbox] {
    width: 13px;
}

#sign-btn {
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: white;
    color: black;
    border-color: #beb5b5;
    border-style: solid;
    border-width: thin;
    font-weight: bold;
}

#sign-btn:hover {
    background-color: #e62e22;
    color: white;
}