.modal-box {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-box-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}
.avatar-hero {
    text-align: center;
}

.cancel-btn {
    font-size: 26px;
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
    cursor: pointer;
}

.avatar {
    width: 30%;
    border-radius: 50%;
    margin-top: 16px;
    vertical-align: middle;
    border-style: none;
}

.form-box {
    padding: 0.01em 16px;
}


form {
    display: block;
    margin-top: 0em;
}

.form-section{
    margin-top: 16px;
    margin-bottom: 16px;
}

.form-input {
    padding: 8px;
    display: block;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}

.form-b-space {
    margin-bottom: 16px;
}

.modal-class-log {
    height: 80px;
    width: inherit;
    display: flex;
}

#modal-class-one-log {
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: lightgrey;
}

#modal-class-one-log:active {
    background-color: white;
}

#modal-class-one-reg:active {
    background-color: white;
}

.modal-class-one {
    height: inherit;
    width: 50%;
    text-align: center;
    padding-top: 30px;
    border-bottom-style: solid;
    border-width: thin;
    border-color: lightgrey;
    cursor: pointer;
    font-weight: bold;
}

.modal-class-one:hover {
    background-color: #e62e22;
    color: white;
}

.acct-head {
    height: 50px;
    width: inherit;
    text-align: -webkit-center;
    font-weight: 600;
    padding-top: 28px;
}



